

.adv {
  padding-top: 60px;
  padding-bottom: 60px;

  &-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--hero-bck-cloror);
    border-radius: 4px;
  }
  &-item {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    color:var(--item-color);
    
  }
  &-blind{
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.71;
  }
  &-dscrpt{
    list-style: none;
  }
}

.adv-list:not(:last-child) {
  margin-bottom: 30px;
  
}



@media screen and (min-width: 768px) {
  .adv-item {
    text-align: left;
    
  }
  .adv-dscrpt  {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    
  }
  .adv-list {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
    
    
  }
  .adv-list:not(:last-child) {
    margin-bottom: 15px;
    list-style: none;
    
  }
}
@media screen and (min-width: 1200px) {
  .adv {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .adv-list {
    flex-basis: calc((100% - 120px) / 4);
    
  }
}
  