.mobile-header {
    display: flex;
    justify-content: space-between;
  }
  .header-list-nav,
  .header-list {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }





  @media screen and (max-width: 479px) {
    .mobile-list{
      @include font(18px, 500, 1.17, 0.02em);
    }
    .mobile-item{
      margin-bottom: 32px;
    }
    .mobile-item:last-child{
      margin-bottom: 26px;
    }
    .mobile-contact{
      font-size :26px; 
    }
    .mobile-goods{
      font-weight: 12px;
    }
  }

.mobile-tricks-button  {
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  
    @media (min-width: 768px) {
      display: none;
    }
    &:hover,
    &:focus {
      fill: var(--primary-color);
    }
  }
  .menu-container {
    transform: translateX(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--whole-white-color);
    z-index: 2;
  overflow: scroll;
   
  
    &.is-open {
      transform: translateX(0);
    }
  }
  .menu-container-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
  align-items: center;
  justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  
    &:hover,
    &:focus{
      fill: var(--primary-color);
    }
  }
  
  .mobile{
    display:flex;
  flex-direction: column;
  height: 100vh;
  }

  .mobile-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }

  .mobile-link {
    text-decoration: none;
  font-style: normal;
    color: var(--item-color);
    @include font(40px, 500, 1.17, 0.02em);
  
    &.current {
      color: var(--primary-color);
    }
  }

}
.mobile-list {
  list-style: none;
  margin-bottom: auto;
  padding-bottom: 50px;
  

}
  .mobile-sheets {
    list-style: none;
    margin-bottom: 64px;
    
  }
  
  .mobile-contact {
    @include font(34px, 500, 1.17, 0.03em);
    &:last-child {
      @include font(24px, 500, 1.16, 0.03em);
      margin-top: 32px;
    }
  }
  .mobile-link-social {
    text-decoration: none;
  font-style: normal;
    color: var(--primary-color);
  }
  
  .mail {
    color: var(--item-color);
    
  }
  
  .mobile-social{
    
  list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  
  .mobile-border {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
  
  .mobile-tags {
    display:flex;
    gap: 10px;
   
  }
  .mobile-goods{
    text-decoration: none;
    font-style: normal;
    color: var(--primary-color);
  }

